
nav {
    background-color: rgb(255, 97, 82);
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    float: left;
  }
  nav li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #111;
  }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.cap{
    align-items: center;
    background-color: rgb(255, 97, 82);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sobre{
    text-align: center;
    display: flex;
    padding-right: 15%;
}

.texto{
    margin-right: 10px;
}

.sobre-container{
    flex: 1;
    padding-left: 10%;
}

h1{
    text-align: center;
    margin: 0;
    width: 100%;
}

img{
    border-radius: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
}

.titulos{
    background-color: rgb(255, 97, 82);
    padding: 25px;
    text-align: center;
}

table{
    width: 100%;
    text-align:center;
    border-collapse: collapse;
    font-size: 20px;
}

footer {
    background-color: rgb(255, 97, 82);
    color: #fff;
    padding: 12px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-text {
    margin: 0;
  }
  
  .footer-btn {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .footer-btn:hover {
    background-color: #3e8e41;
    text-decoration: none;
  }