<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../../index.html">Home</a></li>
              <li><a href="experience.html">Experience</a></li>
            </ul>
          </nav>
        <div class="cap">
            <h1>Education</h1>
        </div>
    </header>
    <section>
        <div>
            <h2 class="titulos">CE Joan XXIII</h2>
            <div class="sobre">
                <div>
                    <p class="sobre-container texto">We accompany students throughout their schooling. We deploy a coherent and progressive educational model of academic itineraries
                        and personal. We personalize the guidelines and proposals in the studies to the maximum for the development of the vital and professional project.
                        We apply personalized support and an innovative pedagogical model that are the keys to the low dropout rate of post-compulsory studies.
                        We enjoy an environment that is both welcoming and demanding and involved teaching teams. This way we ensure that each student can give the best of themselves.
                    </p>
                    <iframe src="https://www.google.es/maps/place/Jesuïtes+Bellvitge+-+Centre+d'Estudis+Joan+XXIII/@41.3502056,2.1090659,16.87z/data=!4m6!3m5!1s0x12a498d64bd023fd:0x26089fc39cb352a3!8m2!3d41.3498965!4d2.1072972!16s%2Fg%2F11c2pbk10k?entry=ttu" frameborder="0"></iframe>
                </div>
                <img src="../../img/JoanXXIII.jpg" width="500px" alt="J23">
            </div>
        </div>
        <div>
            <h2 class="titulos">Nostra Senyora del Mar</h2>
            <div class="sobre">
                <div>
                    <p class="sobre-container texto">· We educate in a personalized way.
                        · We educate people as a whole, preparing them academically, psychologically, emotionally and morally.
                        · We educate on aspects of health and quality of life, promoting awareness of the body and its care (diet, sport...).
                        
                        Our Center welcomes all the people who live here; it houses this big family that we all are and, as such, we value it and try to respond to the changing needs of our educational community.
                        
                        Our educational community (parents, students, teachers, management team and non-teaching staff) make up a big family where respect and education are the basic goals on which everyone else works.
                         Our goal is for our students to develop their cognitive and personal abilities to the maximum.

                    </p>
                    <iframe src="https://www.google.es/maps/place/Escola+Nostra+Senyora+del+Mar+-+García+Lorca/@41.3276805,2.0947889,17.84z/data=!4m6!3m5!1s0x12a49edb53063cc1:0xeba066737266ef89!8m2!3d41.327489!4d2.096083!16s%2Fg%2F11b6dnqz30?entry=ttu" frameborder="0"></iframe>
                </div>
                <img src="../../img/NSDM.jpeg" width="500px" alt="J23">
            </div>
        </div>
        <div>
            <h2 class="titulos">Barcelona activa</h2>
            <div class="sobre">
                <div>
                    <p class="sobre-container texto">As a local development agency, our mission is to contribute to improving the quality of life of people by promoting
                        the economic competitiveness of the city and the rebalancing of the territories, through the promotion of quality employment, the impetus for entrepreneurship and support for a plural business fabric,
                        diverse and sustainable, from an economic, social and environmental perspective.

                        Our vision is to make Barcelona a city of international reference for working, doing business and living with social and environmental values.
                    </p>
                </div>
                <img src="../../img/logoBCNactiva.png" width="400px" alt="J23">
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
          <p class="footer-text">© 2024 Izan Izquierdo.</p>
          <button class="footer-btn"><a class="footer-btn" href="../estudis.html">CV Spanish</a></button>
        </div>
      </footer>
</body>