<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experience</title>
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../../index.html">Home</a></li>
              <li><a href="education.html">Education</a></li>
            </ul>
          </nav>
        <div class="cap">
            <h1>Experience</h1>
        </div>
    </header>
    <section>
        <div>

        </div>
    </section>
    <footer>
        <div class="footer-content">
          <p class="footer-text">© 2023 Izan Izquierdo.</p>
          <button class="footer-btn"><a class="footer-btn" href="../experiencies.html">CV Spanish</a></button>
        </div>
      </footer>
</body>