<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="experiencies.html">Experiencias</a></li>
            </ul>
          </nav>
        <div class="cap">
            <h1>Estudios</h1>
        </div>
    </header>
    <section>
        <div>
            <h2 class="titulos">CE Joan XXIII</h2>
            <div class="sobre">
                <div>
                    <p class="sobre-container texto">Acompañamos al alumnado a lo largo de toda su escolarización. Desplegamos un modelo educativo coherente y progresivo de los itinerarios académicos 
                        y personales. Personalizamos al máximo las orientaciones y propuestas en los estudios por el desarrollo del proyecto vital y profesional.
                        Aplicamos un acompañamiento personalizado y un innovador modelo pedagógico que son las claves del bajo índice de abandono de los estudios postobligatorios.
                        Disfrutamos de un entorno a la vez acogedor y exigente y de equipos docentes implicados. Así conseguimos que cada alumno pueda dar lo mejor de sí mismo.
                    </p>
                    <iframe src="https://www.google.es/maps/place/Jesuïtes+Bellvitge+-+Centre+d'Estudis+Joan+XXIII/@41.3502056,2.1090659,16.87z/data=!4m6!3m5!1s0x12a498d64bd023fd:0x26089fc39cb352a3!8m2!3d41.3498965!4d2.1072972!16s%2Fg%2F11c2pbk10k?entry=ttu" frameborder="0"></iframe>
                </div>
                <img src="../img/JoanXXIII.jpg" width="500px" alt="J23">
            </div>
        </div>
        <div>
            <h2 class="titulos">Nostra Senyora del Mar</h2>
            <div class="sobre">
                <div>
                    <p class="sobre-container texto">· Eduquem de manera personalitzada.
                        · Eduquem les persones en el seu conjunt, preparant-les a nivell acadèmic, a nivell psicològic, emocional i moral.
                        · Eduquem en aspects de salut i qualitat de vida, potenciant la conciència del cos i la seva cura (alimentació, esport…).
                        
                        El nostre Centre acull totes les persones que aquí conviuen; alberga aquesta gran família que som tots i, com a tal, la valorem i procurem que doni resposta a les necessitats canviants de la nostra comunitat educativa.
                        
                        La nostra comunitat educativa (pares, alumnes, professors, equip directiu i personal no docent) conformem una gran familia on el respecte i l'educació són els objectius bàsics sobre els quals es van treballant tots els altres.
                         El fi que ens proposem és que els/es nostres alumnes aconsegueixin desenvolupar al màxim les seves capacitats cognitives i personals.
                    </p>
                    <iframe src="https://www.google.es/maps/place/Escola+Nostra+Senyora+del+Mar+-+García+Lorca/@41.3276805,2.0947889,17.84z/data=!4m6!3m5!1s0x12a49edb53063cc1:0xeba066737266ef89!8m2!3d41.327489!4d2.096083!16s%2Fg%2F11b6dnqz30?entry=ttu" frameborder="0"></iframe>
                </div>
                <img src="../img/NSDM.jpeg" width="500px" alt="J23">
            </div>
        </div>
        <div>
            <h2 class="titulos">Barcelona activa</h2>
            <div class="sobre">
                <div>
                    <p class="sobre-container texto">Com a agència de desenvolupament local, la nostra missió és contribuir a la millora de la qualitat de vida de les persones promovent 
                        la competitivitat econòmica de la ciutat i el reequilibri dels territoris, a través del foment de l'ocupació de qualitat, l'impuls a l'emprenedoria i el suport a un teixit empresarial plural, 
                        divers i sostenible, des d'una perspectiva econòmica, social i ambiental.

                        La nostra visió és fer de Barcelona una ciutat de referència internacional per treballar, emprendre i viure amb valors socials i ambientals.
                    </p>
                </div>
                <img src="../img/logoBCNactiva.png" width="400px" alt="J23">
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
          <p class="footer-text">© 2024 Izan Izquierdo.</p>
          <button class="footer-btn"><a class="footer-btn" href="en/index_en.html">CV Inglés</a></button>
        </div>
      </footer>
</body>