<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="experiencies.html">Experiencias</a></li>
            </ul>
          </nav>
        <div class="cap">
            <h1>Estudios</h1>
        </div>
    </header>
    <section>
        <div>
            <table>
                <tr>
                    <th>CE Joan XXIII</th>
                    <td>Cursant · CFGM Sistemes Microinformàtics i Xarxes.</td>
                    <td><a href="https://www.google.es/maps/place/Jesuïtes+Bellvitge+-+Centre+d'Estudis+Joan+XXIII/@41.3497506,2.1076545,619m/data=!3m1!1e3!4m6!3m5!1s0x12a498d64bd023fd:0x26089fc39cb352a3!8m2!3d41.3498965!4d2.1072972!16s%2Fg%2F11c2pbk10k?entry=ttu" target="_blank"><img src="../img/JoanXXIII.jpg" width="400px" alt="Joan XXIII"></a></td>
                </tr>
                <tr>
                    <th>Escola Nostra Senyora del Mar</th>
                    <td>2018-2022 · Educació Secundària Obligatòria.</td>
                    <td><a href="https://www.google.es/maps/place/Escola+Nostra+Senyora+del+Mar+-+García+Lorca/@41.3273498,2.0950139,520m/data=!3m1!1e3!4m6!3m5!1s0x12a49edb53063cc1:0xeba066737266ef89!8m2!3d41.327489!4d2.096083!16s%2Fg%2F11b6dnqz30?entry=ttu" target="_blank"><img src="../img/NSDM.jpeg" width="400px" alt="NSDM"></a></td>
                </tr>
                <tr>
                    <th>Barcelona activa</th>
                    <td>2023 · Curs de Programació.</td>
                    <td><a href="https://www.barcelonactiva.cat" target="_blank"><img src="../img/logoBCNactiva.png" width="400px" alt="BCN actica"></a></td>
                </tr>
            </table>
        </div>
    </section>
    <footer>
        <div class="footer-content">
          <p class="footer-text">© 2023 Izan Izquierdo.</p>
          <button class="footer-btn"><a class="footer-btn" href="en/index_en.html">CV Inglés</a></button>
        </div>
      </footer>
</body>