<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="experiencies.html">Experiencias</a></li>
            </ul>
          </nav>
        <div class="cap">
            <h1>Estudios</h1>
        </div>
    </header>
    <section>
        <div>
            <h2 class="titulos">CE Joan XXIII</h2>
            <div class="sobre">
                <p class="sobre-container texto">Acompañamos al alumnado a lo largo de toda su escolarización. Desplegamos un modelo educativo coherente y progresivo de los itinerarios académicos 
                    y personales. Personalizamos al máximo las orientaciones y propuestas en los estudios por el desarrollo del proyecto vital y profesional.
                    Aplicamos un acompañamiento personalizado y un innovador modelo pedagógico que son las claves del bajo índice de abandono de los estudios postobligatorios.
                    Disfrutamos de un entorno a la vez acogedor y exigente y de equipos docentes implicados. Así conseguimos que cada alumno pueda dar lo mejor de sí mismo.
                </p>
                <img src="../img/JoanXXIII.jpg" width="500px" alt="J23">
            </div>
        </div>
    </section>
    <footer>
        <div class="footer-content">
          <p class="footer-text">© 2024 Izan Izquierdo.</p>
          <button class="footer-btn"><a class="footer-btn" href="en/index_en.html">CV Inglés</a></button>
        </div>
      </footer>
</body>