<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiencia</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="estudis.html">Estudios</a></li>
            </ul>
          </nav>
        <div class="cap">
            <h1>Experiencia</h1>
        </div>
    </header>
    <section>
        <div>

        </div>
    </section>
    <footer>
        <div class="footer-content">
          <p class="footer-text">© 2023 Izan Izquierdo.</p>
          <button class="footer-btn"><a class="footer-btn" href="en/index_en.html">CV Inglés</a></button>
        </div>
      </footer>
</body>